body{
  background-image: url(https://wallpaperaccess.com/full/3017283.jpg);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #300594;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #3a80f0;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.posts{
  background-color: white;
  border: 1px;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 25px;
  color: black;
  margin: 10px 10px;
}
.button{
  background-color: #111b42;
  border: 1px;
  border-radius: 5px;
  font-size: 12px;
  padding: 10px 25px;
  color: white;
  width: 105px;
}
